<!DOCTYPE HTML>
<html>
<head>
    <title>Socket-Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.0/socket.io.js"></script>
	
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            namespace = '/debug';
        
            var socket_debug = io(namespace);

            socket_debug.on('connect', function(msg) {
                
                //$("#watcher_value").text('[' + msg._nb_watchers + ']');
                var aze = JSON.parse(msg)
                $("#watcher_value").text('[' + aze._nb_watchers + ']');
            });

            socket_debug.on('update', function(msg) {
                
                /*socket_debug.emit('update', {data: 'connected to the SocketServer[debug]...'});*/
                var aze = JSON.parse(msg)
            
                $("#watcher_value").text('[' + aze._nb_watchers + ']');
               
            });

            
 
        });
    </script>

</head>
	<h1>Video Streaming debug</h1>
    <table>
        <th>var</th>
        <th>value</th>
        <th>Description</th>
        <tr>
            <td>Nb watcher</td>
            <td id="watcher_value">0</td>
        </tr>
        <tr>
            <td>Nb suricate</td>
            <td id="suricate_value">0</td>
        </tr>
    </table>

</body>
</html>