<!DOCTYPE HTML>
<html>
<head>
    <title>Socket-Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.0/socket.io.js"></script>
	
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            $("#watcher_value").text('---');

            namespace = '/debug';
        
            var socket_debug = io(namespace);

            socket_debug.on('connect', function() {
                socket_debug.emit('my_event', {data: 'connected to the SocketServer[debug]...'});
                $("#watcher_value").text('666');
            });

            socket_debug.on('update', function(msg, cb) {
                
                socket_debug.emit('update', {data: 'connected to the SocketServer[debug]...'});
                $("#watcher_value").text('777');
               
            });

            
 
        });
    </script>

</head>
	<h1>Video Streaming debug</h1>
    <table>
        <th>var</th>
        <th>value</th>
        <th>Description</th>
        <tr>
            <td>Nb watcher</td>
            <td id="watcher_value">0</td>
        </tr>
        <tr>
            <td>Nb suricate</td>
            <td>0</td>
        </tr>
    </table>

</body>
</html>