<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Suricate watcher</title>
        <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.0/socket.io.js"></script>
        <script src="{{ url_for('static', filename='/scripts/jmuxer.js') }}"></script>
        <style>
            html, body {
                position: relative;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 0;
                margin: 0;
            }

            #left {
                position: fixed;
                top: 0;
                float: left;
                width: 50%;
                min-height: 100vh;
                background: rgba(0, 255, 0, 0.0);
            }

            #right {
                position: fixed;
                top: 0;
                right: 0;
                float: right;
                width: 50%;
                min-height: 100vh;
                background: rgba(0, 0, 255, 0.0);
            }
            #streamstage{
                position: fixed;
                top: 0;
                margin: 0 auto;
                width: 100%;
            }

            #stream {
  
                right: 0;
                bottom: 0;
                max-width: 100%; 
                max-height: 100vh;
                min-width: 100%;
                margin: 0 auto;
            }

            #suricate-selector {
                position: fixed;
                top: 10px
            }

            #meters {
                margin: 0 auto;
                width: 200px;
            }

            #meter_temp {
                width: 200px;
            }
        </style>	
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {

                socket_cmd = io('/watcher_cmd');
                var socket_video = io('/watcher_video_cast');
                var video_sid = '';
                var previous_suricate_id = 'NONE';
                // flushingTime: 0,
                
                var jmuxer = new JMuxer({
                    node: 'stream',
                    mode: 'video',
                    fps: 30,
                    flushingTime: 0,
                    debug: false
                    });
                

                socket_video.on('connect', function() {
                    //socket_video.emit('my_event', {data: 'connected to the SocketServer[video_cast]...'});
                    video_sid = socket_video.id;
                });

                socket_cmd.on('connect', function() {
                    //socket_cmd.emit('my_event', {data: 'connected to the SocketServer[cmd]...'});
                });

                socket_cmd.on("disconnect", () => {
                    
                    alert("Disconnected from suricate server");
                });


                socket_cmd.on('add_suricate', function(msg, cb) {
                    //var aze = JSON.parse(msg)
                    $('#suricates-select').append('<option id="' + msg.suricate_id + '" value="' + msg.suricate_id + '">' + msg.name + '</option>')
                    if (cb)
                        cb();
                });

                socket_cmd.on('remove_suricate', function(msg, cb) {
                    console.log('removing :' + msg.suricate_id);
                    $('#' + msg.suricate_id).remove();
                    if (cb)
                        cb();
                });

                socket_cmd.on('suricate_data', function(msg, cb) {
                    console.log('recieving data, cpu temp: ' + msg.cpu_temp);
                })
                
                socket_video.on('frame', function(msg, cb) {
                    //$('#video-frame').attr('src', 'data:image/jpg;base64,' + msg.frame);
                    //var dt = new Date();
                    //$('#log').append('<br>' + $('<div/>').text('logs # FRAME' + msg.frame_count).html() + "TRANSPORT TIME : " + (dt.getTime() - (msg.time / 1000000)));
                    //console.log('visibilite: ' + document.visibilityState);
                    if (document.visibilityState == "visible")
                        
                        jmuxer.feed({
                                video: new Uint8Array(msg.frame)
                            });	
                    
                        
                    //$('#log').append('<br>' + $('<div/>').text('logs # FRAME' + msg.frame_count).html());

                });

                $('#suricates-select').change(function(event) {
                    var id = $( "select option:selected" ).attr('value')
                    console.log(id);
                    console.log(video_sid);
                    socket_cmd.emit('suricate_selected', { suricate_id : id, watcher_sid : video_sid, previous_suricate_id : previous_suricate_id });
                    previous_suricate_id = id;
                    return false;
                });
            });
        </script>
        
    </head>
    <body>
        <div id="streamstage">
            <video  autoplay muted id="stream"></video>
        </div>
        <di style="display: none;"><p>JOYSTICK</p></di>
        <div id="left">
            <div id="left_debug" style="display: none;">
                <ul>
                    <li class="position">
                        position :
                        <ul>
                            <li class="x">x : <span class='data'></span></li>
                            <li class="y">y : <span class='data'></span></li>
                        </ul>
                    </li>
                    <li class="force">force : <span class='data'></span></li>
                    <li class="pressure">pressure : <span class='data'></span></li>
                    <li class="distance">distance : <span class='data'></span></li>
                    <li class="vector">
                        force vector :
                        <ul>
                            <li class="x">x : <span class='data'></span></li>
                            <li class="y">y : <span class='data'></span></li>
                        </ul>
                    </li>
                    <li class="vector">vector : <span class='data'></span></li>
                    <li class="angle">
                        angle :
                        <ul>
                            <li class="radian">radian : <span class='data'></span></li>
                            <li class="degree">degree : <span class='data'></span></li>
                        </ul>
                    </li>
                    <li class="direction">
                        direction :
                        <ul>
                            <li class="x">x : <span class='data'></span></li>
                            <li class="y">y : <span class='data'></span></li>
                            <li class="angle">angle : <span class='data'></span></li>
                        </ul>
                    </li>
                </ul>
                <div class="dump"></div>
            </div>            
        </div>
        <div id="right">
            <div id="right_debug" style="display: none;">
                <ul>
                    <li class="position">
                        position :
                        <ul>
                            <li class="x">x : <span class='data'></span></li>
                            <li class="y">y : <span class='data'></span></li>
                        </ul>
                    </li>
                    <li class="force">force : <span class='data'></span></li>
                    <li class="pressure">pressure : <span class='data'></span></li>
                    <li class="distance">distance : <span class='data'></span></li>
                    <li class="angle">
                        angle :
                        <ul>
                            <li class="radian">radian : <span class='data'></span></li>
                            <li class="degree">degree : <span class='data'></span></li>
                        </ul>
                    </li>
                    <li class="direction">
                        direction :
                        <ul>
                            <li class="x">x : <span class='data'></span></li>
                            <li class="y">y : <span class='data'></span></li>
                            <li class="angle">angle : <span class='data'></span></li>
                        </ul>
                    </li>
                </ul>
                <div class="dump"></div>
            </div>            
        </div>
        <div id="suricate-selector">
            <h3>Select suricate to watch</h3>
            <select name="suricates" id="suricates-select">
                <option value="NONE">--Please choose an option--</option>
                {% for key, value in suricate_server._suricates.items() %}
                    <option id="{{ value.suricate_cmd_sid }}" value="{{ value.suricate_cmd_sid }}">Suricate {{ loop.index }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="meters">
            <meter id="meter_temp" max="100" low="25" high="75" optimum="65" value="15"></meter>
        </div>        
        <script src="{{ url_for('static', filename='/scripts/nipplejs.js') }}"></script>
        <script>
            var joystickL = nipplejs.create({
                zone: document.getElementById('left'),
                mode: 'dynamic',
                position: { left: '20%', top: '50%' },
                shape: 'circle',
                restJoystick: false,
                color: 'green',
                size: 200
            });

            var joystickR = nipplejs.create({
                zone: document.getElementById('right'),
                mode: 'dynamic',
                position: { left: '80%', top: '50%' },
                color: 'red',
                size: 200
            });
            
            var s = function (sel) { return document.querySelector(sel); };
            var sId = function (sel) { return document.getElementById(sel); };
            var removeClass = function (el, clss) {
                el.className = el.className.replace(new RegExp('\\b' + clss + ' ?\\b', 'g'), '');
            }

            
            var els = [];
            var elDump = [];

            mapDebug(joystickL);
            mapDebug(joystickR);
            
            bindNipple(joystickL);
            bindNipple(joystickR);
            
            

            function mapDebug(js) {
                var div_id = js.options.zone.id
                var elDebug = sId(div_id + '_debug');
                elDump[div_id] = elDebug.querySelector('.dump');
                els[div_id] = {
                    position: {
                        x: elDebug.querySelector('.position .x .data'),
                        y: elDebug.querySelector('.position .y .data')
                    },
                    force: elDebug.querySelector('.force .data'),
                    pressure: elDebug.querySelector('.pressure .data'),
                    distance: elDebug.querySelector('.distance .data'),
                    vector: {
                        x: elDebug.querySelector('.vector .x .data'),
                        y: elDebug.querySelector('.vector .y .data'),
                    },
                    angle: {
                        radian: elDebug.querySelector('.angle .radian .data'),
                        degree: elDebug.querySelector('.angle .degree .data')
                    },
                    direction: {
                        x: elDebug.querySelector('.direction .x .data'),
                        y: elDebug.querySelector('.direction .y .data'),
                        angle: elDebug.querySelector('.direction .angle .data')
                    }
                }
            }

            function bindNipple (joystick) {
                joystick.on('start end', function (evt, data) {
                    dump(evt.type, joystick.options.zone.id);
                    //debug(data, joystick.options.zone.id);
                    joystick_state(evt, joystick.options.zone.id, data, );
                }).on('move', function (evt, data) {
                    //debug(data, joystick.options.zone.id);
                    joystick_move(data, joystick.options.zone.id);
                }).on('dir:up plain:up dir:left plain:left dir:down ' +
                    'plain:down dir:right plain:right',
                    function (evt, data) {
                        //dump(evt.type, joystick.options.zone.id);
                    }
                ).on('pressure', function (evt, data) {
                    //debug({pressure: data});
                });
            }
            function joystick_state(evt, id, data) {
                setTimeout(function() {
                    socket_cmd.emit('joystick_state', { evt : evt, joystick_id : id, data : data });
                }, 0);
            }            
            function joystick_move(data, id) {
                setTimeout(function() {
                    socket_cmd.emit('joystick_move', { joystick_id : id, data : data });
                }, 0);
            }

            // Print data into elements
            function debug (obj, zone_id) {
                function parseObj(sub, el) {
                    for (var i in sub) {
                        if (typeof sub[i] === 'object' && el) {
                            parseObj(sub[i], el[i]);
                        } else if (el && el[i]) {
                            el[i].innerHTML = sub[i];
                        }
                    }
                }
                setTimeout(function () {
                    parseObj(obj, els[zone_id]);
                }, 0);
            }

            var nbEvents = 0;

            // Dump data
            function dump (evt, id) {
                setTimeout(function () {
                    if (elDump[id].children.length > 4) {
                        elDump[id].removeChild(elDump[id].firstChild);
                    }
                    var newEvent = document.createElement('div');
                    newEvent.innerHTML = '#' + nbEvents + ' : <span class="data">' +
                        evt + '</span>';
                        elDump[id].appendChild(newEvent);
                    nbEvents += 1;
                }, 0);
            }            
        </script>
        <h2 style="background-color:white; display: none;" >Logs</h2>
        <div id="log" style="display: none;"></div>
    </body>
</html>