<!DOCTYPE HTML>
<html>
<head>
    <title>Socket-Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.0/socket.io.js"></script>
	
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            var socket_cmd = io('/watcher_cmd');
            var socket_video = io('/watcher_video_cast');
            var video_sid = '';
            var previous_suricate_id = 'NONE';

            socket_video.on('connect', function() {
                //socket_video.emit('my_event', {data: 'connected to the SocketServer[video_cast]...'});
                video_sid = socket_video.id;
            });

            socket_cmd.on('connect', function() {
                //socket_cmd.emit('my_event', {data: 'connected to the SocketServer[cmd]...'});
            });

            socket_cmd.on('add_suricate', function(msg, cb) {
                //var aze = JSON.parse(msg)
                $('#suricates-select').append('<option id="' + msg.suricate_id + '" value="' + msg.suricate_id + '">' + msg.name + '</option>')
                if (cb)
                    cb();
            });

            socket_cmd.on('remove_suricate', function(msg, cb) {
                console.log('removing :' + msg.suricate_id);
                $('#' + msg.suricate_id).remove();
                if (cb)
                    cb();
            });
			socket_video.on('frame', function(msg, cb) {
				$('#video-frame').attr('src', 'data:image/jpg;base64,' + msg.frame);
                
                $('#log').append('<br>' + $('<div/>').text('logs # FRAME' + msg.frame_count).html());

            });

            $('#suricates-select').change(function(event) {
                var id = $( "select option:selected" ).attr('value')
                console.log(id);
                console.log(video_sid);
                socket_cmd.emit('suricate_selected', { suricate_id : id, watcher_sid : video_sid, previous_suricate_id : previous_suricate_id });
                previous_suricate_id = id;
                return false;
            });
        });
    </script>

</head>
<body>
	<h1>Video Streaming Demonstration</h1>
    <p>Select suricate to watch</p>
    <div>
        <select name="suricates" id="suricates-select">
            <option value="NONE">--Please choose an option--</option>
            {% for key, value in suricate_server._suricates.items() %}
                <option id="{{ value.suricate_cmd_sid }}" value="{{ value.suricate_cmd_sid }}">Suricate {{ loop.index }}</option>
            {% endfor %}
        </select>
    </div>
    <img id="video-frame"></img>

    <h2 style="background-color:white;">Logs</h2>
    <div id="log" ></div>
</body>
</html>